server:
  port: 8081
spring:
  application:
    name: invoice-service
  datasource:
    url: jdbc:postgresql://localhost:5432/luxegem_invoice
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: ${JWT_SECRET:change-this-super-long-jwt-secret-change-this-super-long-jwt-secret}
